.example-form {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    padding: 0 0 0 0;
  }
  
  .area-full-width {
    min-width: 300px;
    width: 100%;
    height: 200px;
  }
  .color1 {
    color: #b64b4b;
  }
  .color2 {
    color: #2c8e31;
  }
  .color3 {
    color: #969e28;
  }
