.example-container {
    width: 360px;
    max-width:100%;
    margin: 0 10px 10px 10px;
    display: inline-block;
    vertical-align: top;
  }
 
  .example-list {
    border: solid 0px #ccc;
    min-height: 60px;
    /* background: rgb(56, 55, 55); */
    border-radius: 12px;
    overflow: hidden;
    display: block;
    padding: 0 6px 6px 6px;
    background-color: rgb(238, 238, 238);
  }
  
  .example-box {
    margin-bottom: 0px;
    margin-top: 3px;
    /* padding components inside */
    padding: 5px 5px 5px 0px;
    border-bottom: solid 1px #ccc;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-card {
    max-width: 400px;
    text-align: left;
    --mdc-elevated-card-container-color: inherit !important;
    --mdc-elevated-card-container-elevation: 0px 0px 0px 0px;
  }
  .mat-mdc-card-content:last-child {
    padding-bottom: 0px !important;
}
.mat-mdc-card-content:first-child {
  padding-top: 0px !important;
}
.mat-mdc-card-content {
  display: block;
  padding: 0 0px !important;
}

  .example-section {
    text-align: left;
    /* padding-left: 8px; */
  }
  .example-section-text {
    color: rgb(64, 58, 58);
    /* margin-left: 5px; */
  }
  .todo-icon-edit {
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale(1);
    font-size: small;
    text-align: right;
    color: rgb(200, 194, 176);
  }
  .todo-icon-delete {
    cursor: pointer;
    margin-right: 0px;
    transition: transform 0.3s ease;
    transform: scale(1);
    font-size: small;
    text-align: right;
    color: rgb(200, 194, 176);
  }
   
  .todo-margin-done {
    color: grey;
    /* text-align: left;
    text-decoration: line-through; */
    
  }
 
.block-title {
  display: flex;
  justify-content: flex-end;
}
.block-title-text {
  font-weight: bold;
  font-size: 24px;
  float: left;
  padding-left: 5px;
  color: darkslategray;
}
.block-title-delete-button {
  padding-top: 8px;
  padding-bottom: 0px;
  padding-right: 3px;
  cursor: pointer;
  transform: scale(2);
  font-size: medium;
  text-align: center;
  color: green;
}
.block-title-add-button {
  padding-top: 8px;
  padding-bottom: 0px;
  padding-right: 3px;
  cursor: pointer;
  transform: scale(2);
  font-size: medium;
  text-align: center;
}

.today {
    font-size: 18px;
    font-weight: bold;
    color: palevioletred;
    /* padding-left: 5px; */
    padding-right: 15px;
    text-align: right;
}
a {
  font-size: 10px;
  /* font-style: italic; */
  text-decoration: none !important;
  padding-right: 5px;
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* .bullet{
  padding-left: 10px;
  padding-right: 5px;
  font-size: large;
  font-weight: bolder;
  font-style: italic;
} */